@charset "UTF-8";

@font-face {
    src: url("../font/BMJUA_ttf.ttf");
    font-family: "jua";
}

body {
    font-family: "jua", serif;
    margin: 0;
    position: relative;
    padding-left: 150px;
    padding-right: 150px;
}

.header {
    position: relative;
    top: 0px;
    width: 100%;
    height: 6vh;
    background-color: white;
}

.header2 {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    top: 0px;
    background-color: white;
}

.header3 {
    position: relative;
    padding: 10px;
    padding-left: 20px;
}

.end {
    height: 5px;
    color: #012A5E;
    background-color: #012A5E;
    text-align: center;
}

.header .nav {
    position: relative;
    margin: 0px auto;
    background-color: white;
    height: 100%;
}

.header2 .nav2 {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    top: 0px;
    margin: 0px auto;
    width: 750px;
    padding-bottom: 10px;
    height: 100%;
}

.header .nav .menu {
    position: relative;
    float: right;
    text-align: right;
    background-color: white;
    cursor: pointer;
    margin-top: 30px;
}

.a {
    text-decoration: none;
    color: #012A5E;
    padding-right: 20px;
}

.a:hover {
    color: lightslategray;
}

.header2 .nav2 .logo img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

.header2 .nav2 .menu {
    position: relative;
    padding-left: 40px;
    text-align: center;
}

.header2 .nav2 .menu input[type=text] {
    position: relative;
    width: 250px;
    height: 36px;
    border: 2px solid #012A5E;
    padding: 0 3px 0 3px;
    margin: 0 0 0 0;
}

.header2 .nav2 .menu #search_select {
    position: relative;
    border: 2px solid #012A5E;
    border-right-style: none;
    border-radius: 5px 0 0 5px;
    width: 70px;
    height: 40px;
    left: 4px;
    top: 0.3px;
}

.header2 .nav2 .menu button[type=submit] {
    position: relative;
    width: 55px;
    height: 40px;
    border: 2px solid #012A5E;
    margin: 0;
    border-radius: 0 5px 5px 0;
    right: 5px;
    top: 2px;
    background: #012A5E;
    color: white;
    cursor: pointer;
}

.header2 .nav2 .menu button[type=submit]:hover {
    border-color: lightslategray;
    background: lightslategray;
}